<!DOCTYPE html>
<html lang="en">
    {% include 'header.html' %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{{ url_for('static', filename='assets/img/about-bg.jpg')}}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Me</h1>
                            <span class="subheading">This is what I do.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>Hello and welcome to my blog! My name is Santiago, and I'm excited to have you here.

                            In this blog, I'll be sharing my thoughts and experiences on a wide range of topics, including finance, migration experiences, language learning, tech and other stuff.<br><br>
                            Whether you're looking for inspiration, advice, or just a fresh perspective, I hope you'll find something here that resonates with you.
                            But before we get started, I wanted to take a moment to introduce myself and give you a bit of background about who I am and what I'm all about. I am a 19-year-old guy from Colombia how is working his way up in Australia, from working in cleaning and demolition to an IT Analyst role.<br><br>

                            I'm passionate about personal finance, programming, football and human behaviour, and I've been studying and enjoying those fields for quite a few years now.
                            Ultimately, my goal with this blog is to share some of the most useful and influential data I've had the opportunity to learn throughout this process. I hope that you'll find my posts informative, engaging, and thought-provoking.<br><br>

                            Thank you for visiting my blog, and I look forward to connecting with you!
                        </p>
                    </div>
                </div>
            </div>
        </main>
        <!-- Footer-->
        {% include 'footer.html' %}
